RewriteEngine On    

RewriteRule    	^adscontroller/?$    				controller-ads.php    [NC,L] 
RewriteRule    	^postcontroller/?$    				controllerpostedlooks.php    [NC,L] 
RewriteRule    	^logscontroller/?$    				controller-activitylogs.php    [NC,L] 
RewriteRule    	^membercontroller/?$    			controller-fs-members.php    [NC,L] 
RewriteRule    	^postedcontroller/?$    			controller-postedlooks.php    [NC,L] 
RewriteRule    	^editimage/?$    					editimage.php    [NC,L] 
RewriteRule    	^topmembers/?$    					topmembers.php    [NC,L] 
RewriteRule    	^toplooks/?$    					toplooks.php    [NC,L] 
RewriteRule    	^latest/?$    						latest.php    [NC,L]  
RewriteRule    	^lookdetails/?$    					lookdetails.php    [NC,L] 
RewriteRule    	^follow/?$    						findfriends.php    [NC,L] 
RewriteRule    	^postalook/?$    					postalook.php    [NC,L] 
RewriteRule    	^postarticle/?$    					postarticle.php    [NC,L] 
RewriteRule    	^postamedia/?$    					postamedia.php    [NC,L] 
RewriteRule    	^account/?$    						accountsettings.php    [NC,L] 
RewriteRule    	^home/?$    						index.php    [NC,L] 
RewriteRule    	^rate/?$    						ratealook.php    [NC,L] 
RewriteRule    	^labellooks/?$    					labellooks.php    [NC,L] 
RewriteRule    	^profile/?$    						profile.php    [NC,L]  
RewriteRule    	^invite/?$    						invite.php    [NC,L]    
RewriteRule    	^admindashboard/?$    				admindashboard.php [NC,L]    
RewriteRule    	^adminlogin/?$    					adminlogin.php     [NC,L]    
RewriteRule    ^([A-Za-z0-9]+)/?$  					profile.php?user_name=$1&page=$2 [NC,L]    
