/*
	body bgcolor: f4f3f2 ;
	color for menu : cac7c5;
	color text: 6d809d;
	color text: blue: 1C3A69; ; 
	color red text : #cac7c5 ;
	MisoRegular  
	MisoLight
	MisoBold 
*/ 

 
body { padding: 0px; margin: 0px;  color: #1C3A69; font-family: "MisoRegular"  }
body input[type="submit"] { cursor: pointer; }

#info_wrapper { border: 1px solid #ccc; /*height: 200px; width: 200px;*/  /* margin-top: 200px;*/ width: 1010px;  padding: 0; margin: auto; } 
#info_table_container { margin: auto; width:100%;  /*padding-top: 20px;*/  } 
	#info_header { } 
		/*#info_header img { width: 1009px; } */ 

	#info_body { height: 200px;  background-color: #f4f3f2; padding-top: 100px;padding-bottom: 100px; /*padding-top:200px; *//*border: 1px solid #000;*/  }
		#info_body_left { /*border: 1px solid blue;*/ width: 150px; padding-left: 150px; font-family: "MisoRegular";    }
			#info_body_left table { width: 200px; margin-left: -50px;  }
			#info_body_left table td { padding-bottom: 18px; text-align: right;  /*padding-right: 20px; */}
			#info_body_left  span { color: #cac7c5; letter-spacing: 1px; /*float: right;*/ cursor: pointer; }
			/*#info_body_left  span:hover { color: red; }*/

			#tab_about_us     {  font-size: 26px; }
			#tab_our_story    {  font-size: 26px; } 
			#tab_FAQ          {  font-size: 26px; }
			#tab_careers      {  font-size: 26px; }
			#tab_advertise    {  font-size: 26px; }
			#tab_contribute   {  font-size: 26px; }
			#tab_contatact_us {  font-size: 26px; }


			#horizontal_line_about_us     { visibility: hidden; font-weight: bold; font-size: 14px; float: right; margin-top: 7px; padding-left: 5px;  	 }
			#horizontal_line_our_story    { visibility: hidden; font-weight: bold; font-size: 14px; float: right; margin-top: 7px; padding-left: 5px;  	 }
			#horizontal_line_FAQ          { visibility: hidden; font-weight: bold; font-size: 14px; float: right; margin-top: 7px; padding-left: 5px;  	 }
			#horizontal_line_careers      { visibility: hidden; font-weight: bold; font-size: 14px; float: right; margin-top: 7px; padding-left: 5px;  	 }
			#horizontal_line_advertise    { visibility: hidden; font-weight: bold; font-size: 14px; float: right; margin-top: 7px; padding-left: 5px;  	 }
			#horizontal_line_contribute   { visibility: hidden; font-weight: bold; font-size: 14px; float: right; margin-top: 7px; padding-left: 5px;  	 }
			#horizontal_line_contatact_us { visibility: hidden; font-weight: bold; font-size: 14px; float: right; margin-top: 7px; padding-left: 5px;  	 }



		#info_body_right          {/* border: 1px solid green;*/ width: 570px; float: right; padding-right: 70px;font-family: "MisoLight";  /*height: 1000px;*/ }	
			#info_body_right span { line-height: 20px; }
			#content_about_us     { display: none; /*border: 1px solid #000;*/ /*height: 500px;*/ font-family: "MisoLight"  }
				
				#about_us_title1      { font-size: 47px;  font-weight: normal; margin-left: -3px; }
				#about_us_intro_left  { width: 310px; font-family: "arial"; font-size: 12px; padding-top: 20px; padding-bottom: 30px; }
				#about_us_intro_right { font-size: 20px; font-weight: bold; color: #c51d20;   }	
	 			
	 			#about_us_title2{   font-size: 25px;  padding-bottom: 15px; font-family: "MisoRegular" }
	 				#about_us_desc2 { padding-bottom: 30px; font-family: "arial"; font-size: 12px; }
				#about_us_title3{ font-size: 13px; font-weight: bold;  padding-bottom: 5px; font-family: "arial" } 
					#about_us_desc3 { padding-bottom:25px; font-family: "arial";  font-size: 12px;  } 
				#red { color:#c51d20; }
			#content_our_story    { display: none;  /*border: 1px solid #000; */   }
				.content_our_story    {  display: none; /*border: 1px solid #000;  *//* margin-top: 20px;*/ }
			
				#our_story_title1 { font-size: 47px;  font-weight: normal; margin-left: -3px; }
				#our_story_t1 { padding-top: 20px; }
		 		#our_story_intro_left  { width: 280px; font-family: "arial"; font-size: 12px; }
				#our_story_intro_right { font-size: 20px; font-weight: bold; margin-top: -20px; color:   }	
					#our_story_intro_right table {  margin-top: -60px;   }	
					#our_story_intro_right span { font-size: 20px; font-weight: bold; color:  #c51d20; }
				#our_story_intro_left1 { font-family: "arial"; font-size: 12px; }
			#content_FAQ          { display: none;/* border: 1px solid #000;*/ /*height: 2000px;*/ }
			#content_careers      { display: none; /*border: 1px solid #000;*/ /*height: 2000px;*/ }
			#content_advertise    { display: none; /*border: 1px solid #000;*/ /*height: 2000px;*/ }
				#advertise_title1 { font-size: 47px; font-weight: normal; margin-left: -3px; }
				#advertise_t1 { padding-top: 20px;width: 100%;   }
				#advertise_t2  { width: 100%;   font-family: "arial"; font-size: 12px; padding-top: 35px; }
					#our_community {    padding-bottom: 35px;  }
					#advertising_solutions{  font-size: 47px; font-family: "MisoLight";   padding-bottom: 20px; }
					#advertising_solutions_desc{ padding-bottom: 15px;   }
					#available_options { padding-bottom: 8px; }
					#available_options_desc { }
						#available_options_desc ul {/* border: 1px solid #000;*/ padding-left: 12px; margin: 0px; }
						#available_options_desc ul li { padding-bottom: 20px; color: #c51d20 }
					#field_desc {  padding-bottom: 20px;}
					#table1 { font-size: 12px; width: 500px; }
					#table1 td{ padding-bottom: 10px; }
					#table1 input[type="text"] { width: 240px; border:none; height: 30px;   padding-left: 7px; color: #c51d20; }
					#table1 select { width: 140px;  height: 30px; color: #c51d20; font-weight: bold; border:none; }
						#field_left { }
						#field_right { padding-left: 15px; }    
				
					#dropdown_table td { padding-bottom: 0px; }
					#table2 { padding-top: 15px; width: 500px; }
					#table2 td { padding-bottom: 20px;}
					#table2 textarea { width: 140px;  height: 120px; resize:none; width: 100%; border:none; padding-left: 7px;  color: #c51d20; font-family: "arial"  }  
		
	 





			#advertise_intro_left { width: 280px; font-family: "arial"; font-size: 12px; }
			#advertise_intro_right { font-size: 20px; font-weight: bold; margin-top: -20px; color: #c51d20; }
			#content_contribute   { display: none; /*border: 1px solid #000;*/     /* height: 2000px; */}
			#content_contatact_us { display: none; /*border: 1px solid #000;*/ /*height: 2000px;*/    } 
				#contatact_us_title1 {  font-size: 47px;  font-weight: normal; margin-left: -3px;   }
				#contatact_us_t1 { padding-top: 20px; }
					#contatact_us_intro_left { width: 300px; font-family: "arial"; font-size: 12px;     }
					
					#contatact_us_intro_right {position: absolute; margin-top: 0px; font-size: 20px; font-weight: bold; padding-left: 20px;     }
		 				#contatact_us_intro_right_title { font-size: 20px; }
						#contatact_us_intro_right_desc { font-family: "arial"; font-size: 12px; padding-bottom: 20px; }
						#contatact_us_social_icons  {  }
						#contatact_us_social_icons td { padding-right: 20px;  }
						#contatact_us_social_icons img { cursor: pointer; } 


				#contact_us_fields { width: 100%; font-family: "arial";    }
					#contact_us_fields label { font-size: 12px; padding-bottom: 5px; }
					#email   { padding-bottom: 20px; }
						#email input { width: 280px; height: 30px; color: #c51d20;   }
					#select  { padding-bottom: 20px; }
						#select select  { padding-left: 7px; }

						#select input { width: 280px; height: 30px; color: #c51d20;  }
					#subject { padding-bottom: 10px; }
						#subject input { width: 280px; height: 30px; color: #c51d20;  }
					#textarea { padding-bottom: 15px; }
						#textarea textarea { font-family: "arial"; color: #c51d20;  }

					#submit  {  width: 100px; }
						#submit input { width: 147px; border: none; height: 44px; border-radius: 10px; background-repeat: no-repeat; background-image: url("../../images/buttons/submit3.png"); /*background-size: 50px 100px;*/  }
						#submit img { cursor: pointer; }
 

					#contact_us_fields input { padding-left: 7px; border:none;  }
					#contact_us_fields select { width: 280px;  height: 30px; border:none; color: #c51d20; }
					#contact_us_fields textarea { width: 280px; resize:none; height: 100px;  padding-left: 7px; border:none; } 
	#info_footer {  padding-left: 7.1%; }


		*:focus {
	    outline: none;
	}