#body { 
	padding: 0px; margin: 0px;    
} 
#articleview_wrapper { 
	width: 100%;   
	margin-top: -1px;
} 
#fs_menu { 
	position: fixed;
	z-index: 101; 
	width: 100%; 
	background: #284372; color: #fff;
	/* position: fixed; */ 
	padding:5px; text-align: center;
}
#fs_menu  span { 
	color:  #ffffff; 
	font-family: 'arial' 
} 
#fs_menu img { 
	float: left; 
} 
#menu1 { 
	font-size: 20px; 
	font-weight: bold; 
	color: white;  
}
#article_content { 
	padding: 0px; 
	margin: 0px;  
	position:  relative; 
	display: block; 
	z-index: 100;   
}
