
/* MisoRegular */
/* MisoLight */
/* MisoBold */



body { padding: 0; margin: 0; color: #fff; background: #fff; color: #284372 }

#lookdetails_wrapper_header { 

     margin:0px;
     padding:0px;
     margin: auto;   
     width: 1010px;   
     /*padding-top:10px;*/
}
#lookdetails_wrapper { 
     margin:0px;
     padding:0px;
     margin: auto;   
     width: 1010px;   
     /*padding-top:10px;*/
     /*border: 1px solid #000; */   
     /* margin-top: 20px; */
 }




#lbc_main_table { /*border: 1px solid red;*/ width: 884px; /* margin-left: 55px; */  margin: 0px auto;}
#lbc_ads_banner { /*padding-top: 14px;*/ }

#lbc-body-header { width: 200px;}




#lbc_ads_banner img{ /*width: 100%; height: 100px;*/ cursor: pointer;  }
#next_prev_td { padding-top: 14px;   }
#prev { cursor: pointer; }
#next { cursor: pointer; }
#look_title {   padding-top: 10px;  }
#look_title div {  width: 900px; /*background: gold;*/ word-wrap: break-word;  }
#look_title span{  font-family: 'Bree Serif', serif !important; font-size: 27px; /*word-spacing: 20px;*/ line-height: 30px; color: black; text-transform: uppercase; }
#next_hr { position: absolute; width:886px; margin-top: -2px; border-bottom: 1px solid #B8B8B3; }
#lbc_look_view  {  }

/*#tag-circle { display: none; font-size: 12px;font-family: "arial";font-weight: bold;border: 1px solid #b32727; background-color: #b32727; color: #fff; width: 8px; border-radius: 20px; padding-right: 6px; padding-left: 6px;  padding-top: 2px;padding-bottom: 2px;-moz-box-shadow: 0 4px 4px #000;-webkit-box-shadow: 0 4px 4px #000;box-shadow: 0 4px 9px #000;cursor: pointer; z-index:100; position:absolute; }*/


#tag-circle {
    position:absolute;
    display: none;
    font-size: 12px;
    font-family: "arial";
    font-weight: bold;
    width: 25px;
    height: 23px;
    color: #fff;
    border-radius: 20px;
    -moz-box-shadow: 0 4px 4px #000;
    -webkit-box-shadow: 0 4px 4px #000;
    box-shadow: 0 4px 9px #000;
    cursor: pointer;
    z-index:100;
    /* border: 1px solid #000; */
    background-color: #b32727;

    /* margin-left: 20px; */
}

#tag-circle-img{
    position: absolute;
    z-index: 100;
    margin-left: -16px;
    margin-top: -1px;
}
#tag-circle-value {
    position: absolute;
    z-index: 101;
    margin-top: 5px;

}







#more-by-link-header {
    padding-top: 10px;
    padding-bottom:10px;  
}







#tag-circle-tag-div {  z-index: 99; font-family: "arial";position: relative; /*height:20px;*/ z-index:101;position:absolute; width:400px; background-color: none; border:1px solid none; ; display:none;cursor:pointer; /*border: 1px solid #000;*/  }
#tag-bubble-body { box-shadow: 0 4px 10px #000;  background-color: #fff;  padding-top:10px; padding-left:15px; padding-bottom: 10px; padding-right: 15px; height: 138px; width: 280px; border: 1px solid #ccc; border-radius: 5px;  }
#tag-bubble-body img { cursor: pointer;  }
#tag-bubble-title {  font-weight: bold;font-size: 14px;text-decoration: underline;font-family: "arial"; color: #b32727; }
#tag-bubble-table { position: absolute;  margin-top: 10px; float: left; font-size: 12px; width: 300px;  }
#tag-name {  color: #ccc; font-family: "arial";font-weight: bold; }
#tag-desc { color: #b32727; font-family: "arial"; font-weight: bold;  }
#tag-url a  { text-decoration: none; color: #1a386a;  }
#tag-bubble-body-hr{  border: 1x solid red;   width: 99%; float: left; margin-top: 105px; /*position: absolute;*/ }
#visit-store img { margin-top: 7px; width: 100%;   }
#tag-bubble-arrow-left-img { position: absolute;   margin-left: -185px; margin-top: 22px;   }
#tag-bubble-arrow-right-img { position: absolute;  margin-left: 150px; margin-top:22px;   }



#lbc_look_view_tc {
    /* border: 1px solid red; */
    width:890px;
}
#look_view_header { padding-top:27px; padding-bottom: 5px; font-family: "arial";  height: 80px;  }
#look_header_t { }
#look_header_text { position: absolute;  font-size: 12px; margin-top: -25px; margin-left: 16px }
#look_header_text a { text-decoration: none; font-weight: bold; color: #b32727; text-transform:uppercase;   }
#look_header_text span { font-weight: bold; }
#look_view_header_attrcontainer_t { font-size: 12px; position: absolute; margin-top: -12px; margin-left: 5px; height: 20px; cursor: pointer; }
#look_view_header_attrcontainer_t img { cursor: pointer; }
#look_owner_percentage   { font-size: 25px;  font-weight: bold; }
#look_owner_total_rating div { position: absolute;/* border: 1px solid #000;*/ margin-top: -23px; margin-left: 25px;color: #fff; font-size: 10px; font-weight: bold; font-size: 12px;   }
#look_owner_icon_friend  { width: 10px; }
#look_owner_icon_friend  img  { position: absolute; /* width: 45px; */ /*padding: 5px;*/ margin-top: -10px;}
#look_owner_total_friend  div{/*border: 1px solid #000;*/ font-size: 12px;  font-weight: bold; margin-top: -4px; }
#look_owner_total_following img { /*margin-top: 7px;*/ }
#look_followers_text div { color: #1a386a; font-weight: bold;    font-size: 12px;  margin-top: -7px;  }
#look_forward_slash div  { color: #1a386a; font-weight: bolder;  font-size: 12px;  margin-top: -7px; }
#look_following_text div { color: #1a386a; font-weight: bolder;  font-size: 12px;  margin-top: -7px; }

#look_view_img_td { cursor: pointer;  /* border: 1px solid #B8B8B3; */ border-radius: 5px; /* background-color: #f6f7f8; */      background-color: #f6f7f8;  /*width:600px; */ }
#look_view_img { /* height: 600px;*/ /*cursor: pointer;*/  }
#lf_img_view_td {   /*border: 1px solid green;*/ padding-top: 0px; }
#lf_div_container { visibility:visible; display: none; position: absolute;z-index: 100; width:890px; height: 60px;/*border: 1px solid red;*/  background-color: #000; opacity: 0.8; margin-top: -78px;margin-left:-1px; }
#lf_div_container1 { visibility:visible; display: block; position: absolute;z-index: 100; width:888px; height: 60px;/*border: 1px solid red;*/  background-color: #000; opacity: 0.8; margin-top: -60px; margin-left:0px; }
#lf_div_container2 { visibility:visible; display: block; position: absolute;z-index: 100; width:889px; height: 60px;/*border: 1px solid red;*/  background-color: #000; opacity: 0.8; margin-top: -60px; margin-left:0px; }
#lf_div_container { margin-left: 0px; }
#lfdc_t1 { position: relative; z-index: 101; color:white; /*margin-left: 80px;*/ margin-top: 20px; border:1px solid none; width: auto; /*width: 100%;*/   }
#lfdc_t2 { position: relative; z-index: 101; color:white; /*margin-left: 80px;*/ margin-top: 27px; border:1px solid none; width: auto; /*width: 100%;*/   }

#lfdc_t1 img , #lfdc_t2 img  { float: left;/* border: 1px solid red;*/cursor: pointer; }
#lfdc_t1 div , #lfdc_t2 div  { font-family: 'arial' }


#percentage { padding-right:20px; }
#percentage span{ font-family: 'arial'; font-size: 25px; font-weight: bold; }
#modal-likethis { padding-right:15px; }

#ttext:hover { text-decoration: underline; cursor: pointer;  }

#ldmtd {/* padding-left: 5px;*/ width: 125px;  }
#ldmsc { position:absolute; opacity: 0.4; width: 130px; height: 25px;  background-color: #ccc; margin-left: 5px;  margin-top: 2px;}
#ldms { position:relative; height: 23px; margin-left: 16px; margin-top: 3px;  }
#ld_eyes { /*width:80px;*/  padding-left: 15px; padding-right: 10px; }
#ld_eyes img { height: 17px;   }
#ld_eyes span{  }
#total_arrow {/* width:68px;*/  padding-left: 15px; padding-right: 10px; }
#total_arrow img {  height: 17px;  margin-top: -3px;}
#total_arrow span{position: absolute;  margin-top: 8px; }

/*#total_heart { width:60px; }
    #total_heart img {  }
    #total_heart span{position: absolute;  margin-top: 8px; }   */
#ld_star_with_cross { /*width:69px;*/ padding-left: 15px; }
#ld_star_with_cross img {width:20px; margin-top:-5px }
#ld_star_with_cross span{  }
#ld_scope { /* width: 35px;*/ padding-left: 17px; }
#ld_scope img {  }
#ld_scope span{  }
#ld_negative { /*width:35px;*/ padding-left: 20px; }
#ld_negative img {  }
#ld_negative span{  }
#ld_square_with_arrow { /*width:35px;*/ padding-left: 19px; padding-right: 10px;}
#ld_square_with_arrow img {  height: 21px; height:15px; margin-top: -3px; }
#ld_square_with_arrow span{  }
#ld_pencil { padding-left: 20px; }
#ld_pencil img {  }
#ld_pencil span{  }
#ld_padding { /*width: 120px;*/ }
#ld_hide_show {/* padding-right: 2px;*/ /*width: 30px; */}
#square_with_arrow_clicked_cotainer  { display: none; z-index: 103; position:absolute; margin-top: -30px; /*  border: 1px solid #000; */border-radius: 5px; height: 50px; width: 176px; padding-top: 15px;  /*background-color: green;*/  }
/*#ld_arrow_up { }*/
#ld_arrow_up{ position: absolute;  z-index: 102; width: 7px;  }
#square_with_arrow_clicked_cotainer div{ position: absolute;  z-index: 101;  margin-left: -67px;  /*background-color: yellow;*/  border-radius: 5px;     /*border: 1px solid red;*/ }
#square_with_arrow_clicked_cotainer div table { width: 100px; margin-top: 20px; font-family: "arial"; font-size: 12px; color: #fff; font-weight: bold; }
#square_with_arrow_clicked_cotainer div table td { padding-left: 15px; }
#square_with_arrow_clicked_cotainer div table td#share-icons  { width: 25px; /*padding-bottom: 4px; */}
#square_with_arrow_clicked_cotainer div table img { /*border:1px solid #000;*/ height: 16px; cursor: pointer;  }
/*#ld_square_with_arrow_clicked_container { position:absolute; margin-top: 20px; margin-left: 560px;  border: 1px solid #000; border-radius: 5px; height: 50px; width: 200px; /*background-color: #b21325;  }*/
#ttext  { font-family: 'arial'; font-size: 9px; font-weight: bold; }
#tag_colors { position: absolute; margin-left: 0px; margin-top: -18px; height: 20px; width:890px; /*border: 1px solid red; *//*background-color: yellow;*/  }
#tag_colors_td{/*  border: 1px solid #000;*/ cursor: pointer; }
#rectangle-image-footer-hide { cursor: pointer; /*position: absolute;*//* margin-top: -15px;*//* margin-left: 450px;*/ }
#lbc_small_ads  { padding-top: 7px;  padding-bottom: 10px; }
#ads_main_table { width: 100%; /*border: 1px solid #000;*/ }
#ld_small_ads {/*border: 1px solid #000; *//*height: 270px; */ padding-bottom:10px; }
#ld_ads_table1 { /*float: right;*/ width: 100%;/* border: 1px solid red;  */}


#look_desc_display{ position: absolute; width: 450px; border:1px solid #000;/* margin-top: 27px;*/   }
/*#look_desc_display div{ position: absolute; border: 1px solid #000; width: 200px;  }*/
#about-look {  font-size:11px; font-family:'arial'; color: #b32727; font-weight: bold; padding-bottom: 10px; }
#about-look-desc { font-size:11px; font-family:'arial'; color: #3577cb; font-weight: bold; }


#look_tags_display { width: 280px; /*border:1px solid #000; */margin-left: 330px; /*position: absolute; */}
#tag_pattern_td { }
#tag_pattern_td table { }
#tag_pattern_td table td span{ font-size:11px; font-weight: bold; font-family: 'arial';  }
#tag_pattern_td table td img{ padding-left: 18px; }
#look_smallads_display { position: relative; display: block;  border:1px solid #e2e2df; /* float: right;*/  width:800px; padding: 5px; border-radius: 5px;  /*margin-top: -200px;*/  }
#recommended_c {  }
#recomended_more_by_t {  font-size: 16px; font-family: 'arial'   }
#recomended_name_t , #recomended_all_t {  font-size: 16px;  font-weight: bold; font-family: 'arial'  }
#recomended_bar_t  {  color: #ccc; padding: 0 9px 0  9px;  }
#recomended_all_t {  font-size: 16px;  font-weight: bold; cursor: pointer; }
#look-thumbnail-row1 { position: relative; /*border: 1px solid #000;*/ }
#look-thumbnail-row2 { position: relative; /*border: 1px solid red;*/  /*margin-left: 70px; */}
#look-thumbnail-row3 { position: relative; /*border: 1px solid red;*/  /*margin-left: 150px; */margin-top: -210px; }
#ads_main_table table {  }
#ads_main_table table span  { 
    font-size:12px; 
}
#ads_main_table table img { }
#recomended_lookt {/* border: 1px solid red;*/  width: 270px;  margin-left: 2px; margin-top: 10px;  }
#recomended_lookt  img { border-radius: 3px;  /*position: absolute;*/ cursor: pointer;/* border:1px solid #000; */}
#landscape { /*margin-top: -29px;*/ width:50px;/* position: absolute;*/ border-radius: 5px; cursor: pointer;    }
#portrate { /*width: 70px; */}
#ltag_display { line-height: 13px; padding-top:5px; /*border:1px solid #000*/ }
#lnum  { font-size: 11px; font-weight: bold; }
#ltitle { padding-left: 11px;  font-size: 12px; font-weight: bold; font-family: 'arial'; text-decoration: underline;}
#llink { padding-left: 21px; font-size: 11px; /*font-weight: bold;*/ font-family: 'arial' }
#lhashtag { padding-left: 21px;  color: #ccc; font-size: 11px; font-family: 'arial' }

#res_container_t {

    border: 1px solid #F0F0F0;
    /*position: relative;*/
    /* overflow:scroll;*/
    /* height: 10px; */
    /*width: 888px;*/
    overflow-y:scroll;
    /*border: 1px solid #ccc; */
    border-radius: 5px;
    /*padding:2px;*/
    width:890px;
    padding-top: 13px;
    padding-left: 9px;
    padding-bottom: 20px;
    /*background-color: #f6f7f8; */
    background-color: white;


}
#body_content-details {
    /*                                  border: 1px solid #000; */
    height: 110px;
    overflow-y:scroll;
    overflow-x: hidden;
    z-index: 99;
    padding: 10px;
}

#res_container-details {

}
#res_container-details li { 
    width: 59.86px; 
    padding-left: 1%; 
    padding-bottom: 6px; 
    float: left; 
    list-style: none; 
    padding-bottom: 10;
}

#res_container-details li div {/* border: 3px solid green;*/ width:80px;     }
#res_container-details li div  img { cursor: pointer; width:50px  }
#lbc_comments   { padding-bottom:80px;  }
#look_comment_t1 { width: 100%; }
#header_comment_c_td span { font-size: 27px; font-family: 'MisoRegular'; cursor: pointer; }
#comment_love_drip_t{ float: left;  }
#comment_love_drip_t span { position: relative; margin-top: -20px; }
#comment_love_drip_t hr { /*visibility: visible;*/ position: relative; z-index: 101; border: 3px solid #b32727; margin-top: 1px;  }
#comment_tabs {  }
#comment_tabs span {  font-weight: normal; font-family: 'MisoLight'  }
#comment_tabs span:hover { color: #b32727;  }
#comment_tabs_hr1 { visibility: visible;  }

#love_tabs {  color: #ccc; padding-left: 10px;}
#love_tabs span:hover{ color: #b32727;  }
#love_tabs_hr1 { visibility: hidden; }
#drip_tabs {  color: #ccc; padding-left: 10px;}
#drip_tabs span:hover { color: #b32727; }
#drip_tabs_hr1 { visibility: hidden; }
#comment_header_line div { display: block; position: absolute;   border-bottom: 1px solid #B8B8B3; margin-top: -14px; width: 892px;  }
#higest_rate { float: right; color: #ccc }
#red_bold{ font-weight: bold;  color: #b32727;  }
#comment_content { }
#comment_prev { /*border: 2px solid #000;*/ color: green;  font-size: 12px; font-weight: bold; }
#comment_number {  font-size: 12px; font-weight: bold; color: #000;  }
#comment_next { /*border: 2px solid #000;*/ color: red; font-size: 12px; font-weight: bold; }
#comments_result { /*border: 1px solid #000;*/ width: 100%; }
#comment_sending_result { }
#comment_ads_right { display: none; border: 1px solid #000; height: 1045px; width: 120px; margin-top: 30px;  position: relative; float: right; /*margin-left: 600px*/;  }
#lbc_footer { padding-left: 14px;  }
#profile_footer_container { /* border: 1px solid #000; height: 200px; width: 200px; */}




/* loaders */
#comment_post_loader img { display: none;  }
/* NEW GENERAL STLYE*/
#invite_title { font-size: 35px; font-weight: bold; }
#invite_desc { font-size: 19px; }
#invite_slant { }
#invite_blue_green { }





.bold   { 
    font-family: 'Avenir LT Std 85 Heavy' !important;  
}
.italic { font-style: italic; font-weight: bold; }
.blue   { color: #56d6eb; font-weight: bold; }

*:focus {
    outline: none;
}
/* END GENERAL STLYE*/



/* New css for new details page*/
    h1,h2,h3,h4,h5,h6  {
        font-family: 'Avenir LT Std 95 Black';
    }

    #lookdetails_wrapper_header {   
        width: 1009px; 
        background-color: white;
    }


    #lookdetails_body_container {
        /*height: 200px; */
        width: 1009px;
        border-left: 1px solid #e2e2df;
        border-right: 1px solid #e2e2df;
        /* background: #f5f4f1; */
        /*background: #e9eaed;  */
        background-color: white;

    }

    .details-page-header {
        /*background-color:rgb(34, 91, 153);*/
        /*background-color: white;*/
        width:88.2%;
        /*border-bottom:1px solid rgb(242, 241, 241);*/
        margin: 0 auto;
    }

    .details-page-header div {

    }

    .details-page-header p, #lookdetails_body_container p,
    .details-page-header span, #lookdetails_body_container span,
    .details-page-header label, #lookdetails_body_container label,
    .details-page-header em , #lookdetails_body_container em {
        padding:0;
        margin:0;
        /* font-size: 12px; */
        font-family: 'Avenir LT Std 95 Black';
    }

    .details-page-header p,
    .details-page-header span,
    .details-page-header label,
    /*.details-page-header h2,*/
    /*.details-page-header em*/
    {
        color:rgb(34, 91, 153);
        font-family: 'Avenir LT Std 95 Black';
    }

    #lookdetails_body_container  {

    }

    .details-page-header-table-1 {
        padding-left:20px;
        padding-right:20px;
        margin: 0 auto;
        width:100%;
    }

    .center {
        text-align: center;
        margin:0px auto;
    }

    .left {
        text-align: left;
    }

    .bold {
        font-weight: bold !important;
    }

    .border {
        border:1px solid black;
        /*border-radius: 5px;*/
        /*width:60px;*/
        /*width:auto; */
    }

    .padding-bottom {
        padding-bottom: 30px;
    }

    .padding-top {
        padding-top: 50px;
    }

    .padding-left-icons {
        padding-left: 20px;
    }

    .padding-right-icons {
        padding-right: 20px;
    }

    .padding-left-icons-small {
        padding-left: 10px;
    }
    
    .padding-left-icons-small em {  
        font-family: 'Avenir LT Std 55 Roman' !important;

    }

    .padding-right-icons-min {
        padding-right: 20px;
    }

    .padding-left-icons-small-min {
        padding-left: 5px;
    }

    .heart-icon {
        height: 20px;
        margin-top: 7px;
    }

    .details-page-header-1 {
        /*border:1px solid yellow;*/

    }

    .padding-left {
        padding-left: 40px;
    }
    .padding-right {
        padding-right: 40px;
    }

    .ul-container-cols-2 {
        float:left;
        /*border:1px solid green;*/
        margin-left:18px;
    }

    .ul-container-cols-2 li {
        float:left;
        /*border:1px solid red;*/
        list-style: none;
        padding-bottom: 20px;

    }

    .ul-container-cols-2-li-left {
       padding-top: 22px;
        /*border:1px solid red;*/
        width:210px;
    }

   .ul-container-cols-2-li-left span{
        font-size:12px; 
    }


    .ul-container-cols-2-li-right {
        /*border:1px solid black;*/
        width:682px;
        padding-bottom:0px !important; 
    }

    .profile-container {
        border-radius: 5px;
        border: 1px solid rgb(239, 239, 239);
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 8px;
        padding-right:8px;
        width: 50%;
        margin: 0px auto;
    }

    .profile {
        width:100%;
    }

    .profile-name {
        font-size: 12px; 
        font-family: 'Avenir LT Std 35 Light' !important;
    }

    .profile-name a {  
        font-size:12px;
    }

    .black {
        color:black;
    }
     
    .grey {
        color: rgb(161, 168, 170);
    }



    .social-profile-icons-table {
        width: 100%;
        /*border: 1px solid grey;*/

    }

    .social-profile-icons-table td {
        /*border: 1px solid grey;*/
        text-align: center;
        padding-top:10px;
        padding-bottom:10px;
    }

    .profile-follow {
        padding:10px;
    
        font-size: 12px;
}


    .padding-profile-top {
        padding-top: 10px;
    }

    .padding-profile-bottom {
        padding-bottom:10px;
    }

    .profile-container-right {
        /*border:1px solid red;*/

    }

    .profile-container-padding-right {
        padding-left: 40px;
    
        padding-top: 19px;
}

    .profile-container-padding-left {
        padding-right: 40px;
    }
    .profile-container-left{
        border:1px solid rgb(239, 239, 239);
    
        border-radius: 5px;
}

    .td-left {
        border-top:1px solid rgb(239, 239, 239);
        border-left:1px solid rgb(239, 239, 239);
        border-bottom:1px solid rgb(239, 239, 239);
    }

    .td-center {
        border-left:1px solid rgb(239, 239, 239);
        border-top:1px solid rgb(239, 239, 239);
        border-bottom:1px solid rgb(239, 239, 239);
    }

    .td-right {
        border-top:1px solid rgb(239, 239, 239);
        border-right:1px solid rgb(239, 239, 239);
        border-bottom:1px solid rgb(239, 239, 239);
    }

    .paddin-profile-content {
        padding-left:5px;
        padding-right:5px;

    }

    .blue {
        color:rgb(34, 91, 153);
    }

    .details-page-content1 {

    }

    .details-modal-container {
        /*border:1px solid red;*/
        /*height: 500px;*/
        /*background-color: black;*/
        color:black;
        font-size: 50px;
    }

    .container-margin-top {
        margin-top:30px;
    }

    .details-page-content2 {
        /*border:1px solid red;*/
         padding-bottom: 30px;
    }

    .bg-white {
        background-color: white;
    }

    .border-gey {
        border:1px solid grey;
        border-radius: 5px;
        width:60px;
    }

    .border-grey { 
        border:1px solid #d2d0d0;
    }

    .active-border {
        border:1px solid rgb(34, 91, 153);
        font-family: 'Avenir LT Std 85 Heavy';
        text-transform: uppercase;
    }

    .align-left {
        margin-left: 309px;
    }

    .margin-auto {
        margin:0px auto;
    }

    .float-right {
        float: right;
    }

    .details-edit {
        float:left;
    }

    .bg-public {
        background-color: #f6f7f8;
    }

    .width-auto  {
        width:auto;
    }

    .padding-top-comment {
         padding-top:20px;
     }

    .padding-bottom-comment {
        padding-bottom:20px;
    }

    .media-object {
        border-radius: 5px; 
        border: 1px solid rgb(223, 223, 223);
    } 

    .media-heading {  
        margin-top: -5px; 
    } 
    
    .padding {
        padding:20px;
    }

    .more {
        color: green;
        cursor: pointer;
    }

    .more:hover{
        color: #4e93ff;
    }

    .comment-textarea {
        /*border:1px solid red;*/
        /*padding:20px;*/
        background-color: white;
        text-align: center;
        border-radius: 5px;
        margin-top:20px;

    }

    .comment-textarea textarea {
        margin-top:20px;
        width:100%;
        height: 63px;
        /*border:1px solid green;*/
        resize:none;
        border:none;

        background-color: rgb(246, 247, 248);

    }

    .comment-textarea table {
        width:100%;
    }

    .comment-container {
        background-color: rgb(246, 247, 248);
    }

    .border-bottom {
        border-bottom:1px solid rgb(243, 243, 243);
    }

    .border-top {
        border-top: 1px solid rgb(223, 223, 223);
    }

    .text {
        padding:10px;
    }

    .red  {
        color:rgb(200, 79, 71);
    }

    .font-arial {

        font-family: 'Avenir LT Std 95 Black';
    }

    .details-rate-attribute { 
        padding-top: 20px;   
    }

    

    .green {
        color: rgb(75, 180, 56);
    }

    .forward-slash {
        padding-left:10px;
    }

    .circle-blue {
        background-color: rgb(33, 91, 153);
        padding-left:7px;
        padding-right:8px;
        padding-top:5x;
    }

    .next-top {

    }

    .next-top table {
        position:fixed;
        /*margin-top:631px*/
    }

    .next-top table td:nth-child(1) {
        background-color:green; padding:10px; color:white
    }

    .next-top table td:nth-child(2) {
        background-color:grey; padding:10px; color:white
    }

    .member-social-icons {
        height:15px;
    }

    .hide {
        display:none;
    }

    .radius-5 {
        border-radius: 5px;
    }

    .padding-10 {
        padding:5px;
    }

    .width-150 {
        width:150px;
    }

    .pointer {
        cursor:pointer;
    }

    .padding-5{
        padding:5px;
    }

    .scroll-top {
        position:fixed;
    }

    .border-black {
        border:1px solid black;
    }

    .radius-10 {
        border-radius:10px;
    }

    .tags {
        padding:3px 15px 2px 15px !important;
        font-size: 12px;
    }

    .width-100 {
        width:100%;
    }

    .like {
        height:13px;
        margin-top:-6px;
        margin-left:10px;
    }

    .dislike {
        height:13px;
        margin-top:0px;
        margin-left:10px;
        padding-right: 4px;
    }

    .sorting {
        padding: 7px;
        margin-left:20px;
        border-radius:10px;
        padding-right: 4px;
        font-size: 12px !important;
}

    .title { 
        /* font-family: arial; */
    } 

    #details-title, #details-status { 
        font-family: 'Avenir LT Std 85 Heavy' !important;  

    } 

    #details-title { 
        padding-top:20px !important;
        padding: 0px;
        margin: 0px;
    } 

    #details-forward-slash h2 { 
        font-family: 'Avenir LT Std 35 Light' !important; 
        color: #d2d0d0;
    }

    #details-comment-text span, #details-comment-text1 span, #more-category span { 
        font-size:12px;  
    }
    
    #details-comment-text1  {   
        width:192px;
    } 

    #details-comment-text1 table {  
        margin-left:2px;  
    } 

    #details-comment-text1 table td:nth-child(2) { 
        padding-left:8px;
    } 

    #details-comment-text1 table td:nth-child(3) { 
        padding-left:8px;
    } 





    #details-comment-text { 
        /* width:170px; */    
        text-align:center;
    } 

    #details-comment-text table { 
        margin-left:6px; 
    } 

    #details-comment-text table td:nth-child(2) { 
        padding-left:8px;
    } 

    #more-category span { 
        font-family: 'Avenir LT Std 85 Heavy' !important;
        font-size: 13px !important;
    }

    .anchorjs-icon em { 
        font-family: 'Avenir LT Std 55 Roman' !important; 
        font-size: 11px;
    }

    #details-comment-avatar { 
        margin-top: 21px;
    }

    #profile-body-content-activities-table-modals { 
        display: none;
    }

    #details-comment-text2 { 
        width:162px;
        text-align:center;
        padding-left:6px; 
        margin-left: 312px;
        font-size:12px;
    } 

    #details-comment-text3 { 
        width:183; 
        padding-right:5px;
     }

    .header-category {  
        padding-top: 30px; 
    }

    .social-right { 
        padding-left:13px;
    }

    .details-member-follow { 
        height: 29px;
        width: 90px;
    }

    .comment-reply {  
        font-size:12px !important;
    }

    .like-dislike-rating { 
         color:rgb(161, 168, 170);
    }